/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	list-style: none;
	text-decoration: none;
	color: black;
}

/*-------------------General orders------------------*/
h4 {
	font-size: 1.2rem;
	font-weight: 800;
}

h3 {
	font-size: 23px;
	margin: 0 auto;
}

h5 {
	font-size: 1rem;
	padding: 40px 0px 15px 0px;
}
h6 {
	font-size: 0.9rem;
	font-weight: 800;
}
.bold_€ {
	font-weight: bold;
}
.fa-star{
	color: #0065FC;
}
.far{
	
	color: #888888;
}
img{
	object-fit: cover;
}

/*----------------------------Header---------------------*/

header {
	width: 100%;
	height: 23vh;
}
.logo{
	display: inline-block;
	width: 60%;
}

#logoReservia {
	
	height: 3rem;
	padding: 1.25rem 6.875rem 1.25rem 1rem;
}

header>nav {
	width: 99%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0.9rem;
}
.nav1{
	flex: 1;
	padding-right: 1rem;
	text-align: right;
	color: #0065fc;
	font-weight: 800;
}
.nav2{
	flex: 1;
    padding: 0rem 0.5rem 0.5rem 3rem;
	border-bottom: 2px solid #F2F2F2;
	text-align: center;
}
.nav2:hover{
	border-bottom: 2px solid #0065fc;
	color: #0065fc;
	font-weight: 600;

}
.nav3:hover{
	border-bottom: 2px solid #0065fc;
	color: #0065fc;
	font-weight: 600;

}
.nav3{
    flex: 1 5%;
	padding: 0rem 0rem 0.5rem 3rem;
	border-bottom: 2px solid #F2F2F2;
}

/*------------------Section Search------------------*/

.search {
	top: 15px;
	width: 100%;
	margin-bottom: 1rem;
}
.title_search {
	width: 90%;
    margin: auto;
}

.choice {
	font-size: 0.9rem;
	font-weight: 400;
	padding: 15px 0;
	width: 90%;
    margin: auto;
}

/*-----------------Search bar (LogoLocation,text,Search)--------*/

.search_bar{
	width: 90%;
	margin: 0.5rem auto;
	padding: 10px 0;
}
label {
	background-color: #F2F2F2;
	padding: 1.02rem 1.2rem;
	outline: none;
	border-radius: 18px 0 0 18px;
	border-color: transparent;
	font-size: 0.9rem;
}

#locLogo {
	background-color: #F2F2F2;
	padding: 0;
	margin: 0;
}

input[type="text"] {
	padding: 0.96rem;
	margin: -4px;
	outline: 0;
	border: 1px solid #F2F2F2;
	font-weight: bold;
	font-size: 0.9rem;
}


.icon_rechercher {
	background-color: #0065FC;
	padding: 1rem 1.1rem;
	border-radius: 18px;
	margin: -30px;
	color: #FFF;
	border: none;
	outline: 0;
	cursor: pointer;
	font-size: 1rem;
}

.button_rechercher {
	background-color: #0065fc;
	padding: 1.08rem 1.4rem 1.1rem 1.4rem;
	border-radius: 0 10px 10px 0;
	margin: -1px;
	color: #FFF;
	border: none;
	outline: 0;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 600;
	display: none;
}

button[type="submit"]:hover {
	opacity: 0.7;
}

/*------------Filters(economic, family, romantic, pets)-------------*/

.filter{
	width: 90%;
	margin: auto;
	margin-bottom: 0.5rem;
}
.filter>h4{
	margin-bottom: 0.5rem;
}

.filter div{
	display: inline-block;
	width: auto;
	padding: 0rem 1rem 0rem 0.7rem;
	margin: 0.5rem 0.2rem 0.3rem 0.1rem;
	border: 2.5px solid #F2F2F2;
	border-radius: 50px 50px 50px 50px;
	font-weight: bold;
	font-size: 0.8rem;
}

.filter div::before {
	align-items: center;
	background-color: rgb(186, 212, 250);
	border-radius: 50%;
	display: inline-flex;
	height: 2.05rem;
	justify-content: center;
	margin: 0 0.7rem 0 -1rem;
	width: 2.05rem;
	font-family: "Font Awesome 5 Free";
	font-size: 1rem;
	font-weight: 900;
}

.filter div:hover {
	background-color: rgba(50, 139, 219, .15);
	cursor: pointer;
}

/*-----------------Modification of logos Awesome-------------- */


.ecoLogo::before {
	content: "\f53a";
	padding: 0.4rem;
	color: blue;
}

.familyLogo::before {
	content: "\f1ae";
	padding: 0.4rem;
	color: blue;
}

.romanticLogo::before {
	content: "\f004";
	padding: 0.4rem;
	color: blue;
}

.petsLogo::before {
	content: "\f6d3";
	padding: 0.4rem;
	color: blue;
}

/*-----------------------Part information----------------------*/

.filter p {
	margin: 2rem 0;
	width: 100%;
	font-weight: 300;
	font-size: 1rem;
}

.fa-info-circle {
	color: white;
	background-color: blue;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	margin-right: 7px;
}



/*----------------------Part more popular--------------------*/
#chartLogo {
	
}
#accomodations{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}
.lesPlusPopulaires{
	display: block;
	width: 100%;
	padding-bottom: 2rem;
	background-color: #F2F2F2;
}

.lesPlusPopulaires > h4{
	display: flex;
	justify-content: space-between;
	padding: 2rem 0;
	width: 85%;
	margin: auto;
}
.lesPlusPopulaires figure{
	display: flex;
	width: 90%;
	margin: auto;
	margin-bottom: 1rem;
}
.lesPlusPopulaires div{
	width: 86%;
    margin: auto;
}
.lesPlusPopulaires a{
	width: 100%;
	height: 15vh;
	margin: 0;
	padding: 5px 0 5px 5px;
	border-radius: 1rem 0 0 1rem;
}
.img_popular{
	width: 40%;
	height: 20vh;
	padding: 5px 0px 5px 5px;
	border-radius: 1rem 0 0 1rem;
}

.lesPlusPopulaires figure h6, p{
	width: 90%;
	padding: 0.5rem;
}

.lesPlusPopulaires figure figcation {
	display: block;
	margin-top: 1rem;
	font-size: 0.8rem;
	margin: -0.9rem 0.5rem 0.5rem ;

}
.lesPlusPopulaires figure{
	background-color: #FFF;
	border-radius: 1rem;
	cursor: pointer;
}
.lesPlusPopulaires figure:hover{
	box-shadow: 5px 5px 5px #888888 ;
}

/*----------------Part Accommodations in Marseille-------------------*/

.h6_accommodation {
	margin: -5rem 0 0rem 0.7rem;
}
.price_accomodation {
	font-size: 0.9rem;
	margin-left: 0.5rem;
}
.accommodations_Marseille > h4{
	padding: 1.5rem 0;
	width: 96%;
	margin: auto;
}
.accommodations_Marseille div{
	width: 90%;
	margin: auto;
}

.accommodations_Marseille figure figcaption{
	display: block;
	margin-top: -0.5rem;
	margin-left: 0.5rem;
	font-size: 1rem;
}
.accommodations_Marseille figure{
	width: 90%;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 25px;
	cursor: pointer;
}
.img_accommodation {
	height: 20vh;
	width: 97%;
	padding: 5px 5px 80px 5px;
	background-color: #FFF;
	border-radius: 25px;
	box-shadow: 0px 0px 10px #dadada;
}
.link_AfficherPlus {
	text-decoration: none;
	font-weight: 800;
	display: block;
	width: 90%;
    margin: auto;
}
.accommodations_Marseille img:hover{
	box-shadow: 5px 5px 5px #888888;
}

/*--------------------Section Activities---------------*/
#activities{
	width: 100%;
	margin: 0 auto;
}
.activities_Marseille{ 
	width: 90%;
	margin: 0 auto;
}
.activities_Marseille > h4{
		padding-top: 3rem;
		width: 97%;
		margin: 0 auto;
}
.activities_bloc figure{
		width: 100%;
		background-color: #FFF;
		margin: 0 auto;
		margin: 10% auto;
		border-radius: 15px 15px 15px 15px;
		box-shadow: 5px 5px 5px #ececec;
}
.img_activities{
		width: 100%;
		height: 22vh;
		border-radius: 15px 15px 0px 0px;
}
.title_h6{
	display: block;
}
.title_h6 h6{
		padding: 1rem 0;
		width: 94%;
		margin: 0 auto;
}
/*---------------------------Footer------------------*/

footer {
	
	background-color: #F2F2F2;
	width: 100%;
	height: 85vh;
	margin-top: 60px;
	text-decoration: none;	
}
footer section{
	width: 88%;
	margin: auto;
}
footer ul li a{
	color: none;
}
footer section ul li{
	padding: 5px 0px;
	font-weight: 500;
}
footer section ul li a:hover {
	color: rgb(172, 124, 124);
}

/*--------------------------MEDIA QUERIES----------------- */

@media screen and (min-width: 350px) and (max-width: 460px){
	.img_accommodation {
		height: 20vh;
	}
}

@media screen and (min-width: 461px) and (max-width: 533px){
	#logoReservia{
		padding: 1.25rem 6.875rem 1.25rem 1rem;
	}
	.logo{
		width: 75%;
	}
	header {
		height: 23vh;
	}
	.nav3{
		text-align: center;
	}
	.img_accommodation {
		height: 33vh;
	}
	
	footer{
		height: 90vh;
	}
}

@media screen and (min-width: 534px) and (max-width: 739px){
	#logoReservia{
		padding: 1rem 2.8rem 1.25rem 0rem;
	}
	.logo {
		display: inline-block;
		width: 35%;
	}
	header {
		height: 16vh;
	}
	header>nav {
		width: 90%;
		margin: auto;
		justify-content: space-between;
	}
	.nav1{
		order: 1;
		flex: 0 0%;
		padding: 32px 15px;
		margin-right: 0;
	}
	.nav2, .nav3{
		flex: 0;
		padding: 32px 15px;
		border-bottom: none;
		margin-right: 0;
	}
	.nav2:hover, .nav3:hover{
		border-bottom: none;
		color: #0065fc;
		font-weight: 600;
		border-top: 2px solid #0065fc;
	}
	.icon_rechercher {
		display: none;
	}
	.button_rechercher {
		display: inline-block;
	}
	.img_popular {
		height: 25vh;
	}
	.img_accommodation {
		height: 35vh;
	}
	
	footer{
		height: 90vh;
	}
}
@media screen and (min-width: 740px) and (max-width: 1024px){
	#logoReservia{
		padding: 1rem 14.5rem 1.25rem 0rem;
	}
	.logo{
		width: 50%;
	}
	header {
		height: 17vh;
	}
	header>nav {
		width: 90%;
		margin: auto;
		justify-content: space-between;
	}
	.nav1{
		order: 1;
		flex: 0 0%;
		padding-left: 0;
		margin-right: 0;
	}
	.nav2, .nav3{
		flex: 0;
		padding: 32px 15px;
		border-bottom: none;
		margin-right: 0;
	}
	.nav2:hover{
		border-bottom: none;
		color: #0065fc;
		font-weight: 600;
	
	}
	.nav3:hover{
		border-bottom: none;
		color: #0065fc;
		font-weight: 600;
	}
	.icon_rechercher{
		display: none;
	}
	.button_rechercher {
		display: inline-block;
	}
	#accommodations{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 90%;
		margin: auto;
	}
	.price_accomodation {
		padding-bottom: 1rem;
	}
	.accommodations_Marseille{
		width: 58%;
		background-color: #F2F2F2;
		border-radius: 20px 20px 20px 20px;
		display: flex;
		flex-wrap: wrap;
	}
	.img_accommodation {
		height: 10vh;
	}
	.accommodations_Marseille figure {
		width: 47%;
	}
	.lesPlusPopulaires > h4 {
		padding: 2rem 0 5rem 0;
	}
	.h6_accommodation {
		margin: -5rem 0 0rem 0.8rem;
	}
	.lesPlusPopulaires {
		width: 40%;
		border-radius: 20px 20px 20px 20px;
	}
	.img_popular {
		width: 45%;
		height: 23vh;
	}
	.lesPlusPopulaires figure{
		height: 25vh; 
	}
	.lesPlusPopulaires figure h6, p, aside {
		padding: 0.3rem;
	}
	.lesPlusPopulaires div {
		width: 95%;
	}
	.link_AfficherPlus {
		padding: 1.5rem 0;
	}
	.activities_Marseille{ 
		display: flex;
		flex-wrap: wrap;
	}
	.activities_bloc{
		width: 23%;
		margin: 0 1%;
		border-radius: 20px;
	}
	.port, .calanques{
		height: 60vh;
	}
	.port img, .calanques img{
		height: 52vh;
	}
	.pomègues{
		height: 36vh;
	}
	.pomègues img{
		height: 28vh;
	}
	.frioul{
		height: 22vh;
	}
	.frioul img{
		height: 12vh;
	}
	.dame, .longchamp{
		height: 28.8vh;
	}
	.dame img, .longchamp img{
		height: 20vh;
	}
	.title_h6 h6 {
		padding: 0.5rem 0;
		width: 94%;
		margin: 0 auto;
	}
	footer{
		height: 45vh;
		display: flex;
	}
	footer section {
		margin: 1rem 0rem 0rem 3.8rem;
		width: 27%;
		height: 40vh;
	}
	
	footer section > * {
		padding: 1rem 0;  
	}	
}

@media screen and (min-width: 1024px){
	#logoReservia{
		padding: 1rem 30rem 1.25rem 0rem;
	}
	header {
		height: 17vh;
	}
	header>nav {
		width: 90%;
		margin: auto;
		justify-content: space-between;
	}
	.nav1{
		order: 1;
	}
	.nav1, .nav2, .nav3{
		flex: 0;
		padding: 32px 15px;
		border-bottom: none;
	}
	.nav1:hover, .nav2:hover, .nav3:hover{
		border-bottom: none;
		color: #0065fc;
		font-weight: 600;
		border-top: 2px solid #0065fc; 
		padding-top: 30px;
		cursor: pointer;
	}
	.icon_rechercher{
		display: none;
	}
	.button_rechercher {
		display: inline-block;
	}
	#accommodations{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 90%;
		margin: auto;
	}
	.accommodations_Marseille{
		width: 65%;
		background-color: #F2F2F2;
		border-radius: 20px 20px 20px 20px;
		display: flex;
		flex-wrap: wrap;
	}
	.accommodations_Marseille{
		width: 65%;
	}
	.img_accommodation {
		height: 15vh;
	}
	.accommodations_Marseille figure {
		width: 31%;
	}
	.lesPlusPopulaires {
		width: 32%;
		border-radius: 20px 20px 20px 20px;
	}
	.img_popular {
		width: 34%;
		height: 22vh;
	}
	.lesPlusPopulaires figure h6, p, aside {
		margin: 0.2rem 0 0.5rem 0.5rem;
		padding: 0.3rem;
	}
	.link_AfficherPlus {
		padding: 1.5rem 0;
	}
	.activities_Marseille{ 
		display: flex;
		flex-wrap: wrap;
	}
	.activities_bloc figure:hover {
		box-shadow: 5px 5px 5px #888888;
		cursor: pointer;
	}
	.activities_bloc{
		width: 23%;
		margin: 0 1%;
		border-radius: 20px;
	}
	.port, .calanques{
		height: 60vh;
	}
	.port img, .calanques img{
		height: 52vh;
	}
	.pomègues{
		height: 36vh;
	}
	.pomègues img{
		height: 28vh;
	}
	.frioul{
		height: 20vh;
	}
	.frioul img{
		height: 12vh;
	}
	.dame, .longchamp{
		height: 28vh;
	}
	.dame img, .longchamp img{
		height: 20vh;
	}
	.title_h6 h6 {
		padding: 0.5rem 0;
		width: 94%;
		margin: 0 auto;
	}
	footer{
		display: flex;
		height: 35vh;
	}
	footer section {
		margin: 1rem 0rem 0rem 5rem;
		width: 27%;
	}
	footer section > * {
		padding: 1rem 0;   
	}
}

